
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script&display=swap');

body{
    margin: 0;
}
nav{
    display: grid;
    position: fixed;
    height: 10vh;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    background-color: #92aec1;
}


.logo{
    grid-area: 1 / 1 / 1 / 2;
    height: 10VH;
    // background-color: red;
    display: flex;
    justify-content: flex-start;
}
nav div .img1{
    width: 60%;
    height: 100%;
    object-fit: cover;
}


.logOut{
    grid-area: 1 / 5 / 2 / 6;
    // background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   .icon-logOut{
    width: 10%;
    height: 5vh;
}


}


.content{
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 87vh;
    color: black;
}

.content div h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
     
}



.content div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_NuevoRegis{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.btn_NuevoRegis button{
    width: 30%;
    border-radius: 30px;
    height: 10vh;
    
}
.btn{
    
    width: 300px;
    height: 7vh;
    border: solid 1px gray;;
    background-color: #92aec1;
    a{
        display: flex;
    align-items:center;
    justify-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
    }

}
@media (max-width:1000px) {
    
   
     
    .logOut{
      
        .icon-logOut{
         width: 80px;
         padding-right: 35%;
     }
       }
     
       nav div .img1{
         width: 230px;
       
     }
     
    .content div h1{
        
        font-size: 40px;
         
    }
    
    .content div img{
        
        width: 40%;
         
    }

    
    
}

@media (max-width:540px) {
    
    
    .logOut{
      
       .icon-logOut{
        width: 80px;
        padding-right: 35%;
    }
      }
    
      nav div .img1{
        width: 130px;
      
    }
    }