@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/breeserif/v17/4UaHrEJCrhhnVA3DgluAx60.ttf) format('truetype');
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf) format('truetype');
}

body {
    margin: 0;
}

nav {
    display: grid;
    position: fixed;
    height: 10vh;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    background-color: #92aec1;
}

.logo {
    grid-area: 1 / 1 / 1 / 2;
    height: 10VH;
    display: flex;
    justify-content: flex-start;
}

nav div .img1 {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.logOut {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logOut .icon-logOut {
    width: 10%;
    height: 5vh;
}

.content {
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    color: black;
}

.content div h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.content div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .content div h1 {
        font-size: 40px;
    }
    .content div img {
        width: 40%;
    }
}