body{
    
    background-color: #577399;
    margin: 0;
    position: relative;
}
*{
    font-family: Arial;
}

div hr{
    color: #FE5F55;
}

.cabecera{
    // margin-top: 2%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .logo{
        width: 40%;
        img{
            width: 40%;
            height: 35vh;
        }

    }
    .tittle{
        width: 70%;
    }
   
    h1{
        // text-align: center;
        margin-top:3% ;
        font-family: Arial;
        font-weight: Regular;
        font-size: 25px;
        color: #ffffff;
        letter-spacing: 0em;
        line-height: 0;
       
    
    }
    svg{
        
        margin-top:4%;
        width: 60px;
        height: 60px;
       

    }
}
.padre{
    height:70vh;
    // centrar en la horizontal
    display: flex;
    justify-content: center;
    //mover en la vertical 
    // align-items:center;
    // position:absolute;
    // top:5%;   



    .box {
        width: 330px;
        height: 340px;
        border-radius: 40px;
        background: #efefef;
        border: 1px solid #707070;
        display: flex;
        flex-direction: column;
        justify-items: center;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        .titulo_box{
            hr{
                width: 80%;   
               border-top: 1px solid;
               color: #45304e;;
            }
            p{
                font-family: Arial;
                font-size: 17px;
                color: #3f1850;
            }
            
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        #NoError{
            font-family: Arial;
            font-size: 18px;
            text-align: center;
            color: #3f1850;
            position:absolute;
            top:2%;
            border-bottom: 1px solid #3f1850 ;
            padding-bottom: 3px;
            }
         #error{
            font-family: Arial;
            font-size: 18px;
            text-align: center;
            color: rgb(217, 9, 9);
              // underline (como no puedes usar los atributos text-underline-position: under; and text-decoration-skip: ink para text-decoration underline por que no es soportado por los navegadores usamos un el border-botton:)
              border-bottom: 1px solid #3f1850 ;
              padding-bottom: 3px;
              
  
              // This works because position: absolute means something like "use top, right, bottom, left to position yourself in relation to the nearest ancestor who has position: absolute or position: relative."
              // So we make #father have position: relative, and the children have position: absolute, then use top and bottom to position the children. 
              // Si no ponemos el position relative al padre cojera como padre el body y la posicón que se establezca no sera la que buscamos
              position:absolute;
              top:2%;
            }
        
            

          


    
        
        .form{
            width: 250px;
            height: 25px;
            position:relative;
            top:15%;
            left:-9%;
            margin-left: 10%;
            margin-top: 3%;
            margin-bottom: 3%;
            border: #3f1850;
        
        }
        #submit{
            position:relative;
            top:5%;
            margin-top: 15%;
                color:white;
                width: 250px;
                height: 40px;
                border-radius: 12px;
                background: #FE5F55;
                border: 1px solid #707070;
            
        }
        label{
            position:relative;
            top:15%;
            color: #3f1850;
            font-size: 15px;
            
        }
        p{
            
            position:relative;
            top:5%;
            font-size: 15px;
        }

       
    }

  
}

@media (max-width:1100px) {
    .cabecera{
        padding-top: 2%;
        width: 100%;
        height: 30vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .logo{
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            // background-color: red;
        }

    }
    .tittle{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        h1{
           font-size: 20px; 
        }

        
    }
    h1{
        font-size: 20px;
    }
}

