body {
  background-color: #577399;
  margin: 0;
  position: relative;
}
* {
  font-family: Arial;
}
.cabecera {
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: rows;
}
.cabecera .logo {
  width: 40%;
}
.cabecera .logo img {
  width: 40%;
  height: 35vh;
}
.cabecera .tittle {
  width: 70%;
}
.cabecera h1 {
  padding-top: 5% ;
  font-family: Arial;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 0;
}
.cabecera svg {
  margin-top: 4%;
  width: 60px;
  height: 60px;
}
.padre {
  height: 80vh;
  display: flex;
  justify-content: center;
}
.padre svg {
  position: absolute;
  top: 90%;
  left: 3%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border-radius: 9px;
  background: #ffad42;
  border: 1px solid #707070;
  color: white;
}
.padre .box {
  width: 330px;
  height: 450px;
  border-radius: 40px;
  background: #efefef;
  border: 1px solid #707070;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.padre .box .titulo_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padre .box .titulo_box hr {
  width: 80%;
  border-top: 1px solid;
  color: #45304e;
}
.padre .box .titulo_box p {
  font-family: Arial;
  font-size: 17px;
  color: #3f1850;
}
.padre .box #NoError {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  color: #3f1850;
  position: absolute;
  top: 2%;
  border-bottom: 1px solid #3f1850;
  padding-bottom: 3px;
}
.padre .box #error {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  color: #d90909;
  border-bottom: 1px solid #3f1850;
  padding-bottom: 3px;
  position: absolute;
  top: 2%;
}
.padre .box h2 {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  color: #3f1850;
  border-bottom: 1px solid #3f1850;
  padding-bottom: 3px;
  position: absolute;
  top: 2%;
}
.padre .box .form {
  width: 250px;
  height: 25px;
  position: relative;
  top: 10%;
  left: -1%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: #3f1850;
}
.padre .box #submit {
  position: relative;
  top: 0%;
  left: 10%;
  margin-top: 15%;
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 12px;
  background: #FE5F55;
  border: 1px solid #707070;
}
.padre .box label {
  position: relative;
  top: 12%;
  left: 9%;
  font-size: 15px;
  color: #3f1850;
}
.padre .box p {
  position: relative;
  top: 0%;
  font-size: 15px;
}
@media (max-width: 1000px) {
  .logo {
    width: 40%;
  }
  .logo img {
    width: 100%;
    height: 35vh;
  }
  .tittle {
    width: 70%;
  }
  h1 {
    font-size: 20px;
  }
}
